body {
  background-color: dimgray;
}

nav {
  background-color: silver !important;
  border-color: gray !important;
}

nav a {
  color: black !important;
}

nav a:hover {
  color: dimgray !important;
}

.jumbotron {
  background-color: silver !important;
  border-color: gray !important;
}

.successfully {
  background: limegreen;
  color: maroon;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.space {
  text-indent: 30px;
}

.remove {
  padding-top: 10px;
}