<h1>viewing the $client.getName()</h1>
<div class="row">
  <div class="col-md-6">
  	<p>Like: <br /> $client.getLike()</p>

  	<a href = "/client/$client.getId()/edit" class="btn btn-primary">Edit $client.getName()</a>
  </div>
  <div class="col-md-6">
    <p>$stylist</p>
  </div>
</div>