<h1>viewing the Client: $client.getName()</h1>
<div class="row">
  <div class="col-md-6">
  	<h3 class="list-title">Information on $client.getName():</h3>
  	<p>Like:</p>
    <p class="space">$client.getLike()</p>
  	<a href = "/client/$client.getId()/edit" class="btn btn-primary">Edit $client.getName()</a>
  </div>
  <div class="col-md-6">
    <h3 class="list-title">Stylist:</h3>
    <p class="space">$stylist</p>
  </div>
</div>